.ios, .md {

  page-home {

    .ion-slide {
      overflow-y: scroll;
      display: block;
      height: auto;

    }
    .title {
      -webkit-text-fill-color: #2019f5;
    }
    .scroll-content {
      background-color: map-get($colors, light);
    }

    canvas {
      color: #f53d3d;
    }
    ion-card-content{
      color: #f53d3d;
    }

    ion-card-header {
      font-weight: bold;
    }

  }

}
