  <ion-toolbar>
    <ion-title class="title" >
      {{house?.name}}
    </ion-title>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="first">
       Rooms
      </ion-segment-button>
      <ion-segment-button value="second">
        Statistics
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content >
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide >
        <ion-item>
          <ion-list>
            <button ion-item *ngFor="let item of roomList" (click)="itemTapped($event, item)">
              {{item.name}}
              <label item-right>{{(house?.powerData[house.powerData.length-1].toFixed(0))}} W</label>
              <label item-right>{{(house?.temperature[house.temperature.length-1].toFixed(0))}} C</label>
            </button>
          </ion-list>
        </ion-item>
    </ion-slide>

    <ion-slide>

      <ion-list>
        <ion-item text-wrap (click)="togglePowerChart()" [ngClass]="{active: isPowerChartShown()}">
          <h3>
            Power chart {{(house?.powerData[house.powerData.length-1].toFixed(0))}} W
            <ion-icon color="success" item-right [name]="isPowerChartShown() ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h3>
          <label item-right></label>
          <div *ngIf="isPowerChartShown()">
            <ion-item>
              <ion-card>
                <ion-card-header>
                  Power data Chart
                </ion-card-header>
                <ion-card-content>
                  <linechart style="display: block" [points]="house?.powerData"></linechart>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </div>
        </ion-item>
        <ion-item text-wrap (click)="toggleTemperatureChart()" [ngClass]="{active: isTemperatureChartShown()}">
          <h3>
            Temperature chart {{house?.temperature[house.temperature.length-1].toFixed(0)}} C
            <ion-icon color="success" item-right [name]="isTemperatureChartShown() ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h3>
          <div *ngIf="isTemperatureChartShown()">
            <ion-item>
              <ion-card>
                <ion-card-header>
                  Temperature data Chart
                </ion-card-header>
                <ion-card-content>
                  <linechart style="display: block" [points]="house?.temperature"></linechart>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </div>
        </ion-item>

      </ion-list>


    </ion-slide>
  </ion-slides>

</ion-content>

<style>
  ion-scroll {
    width: 100%;
    height: 100%;
  }
</style>

