<ion-toolbar>
  <ion-title>
    {{device.name}}
  </ion-title>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      Settings
    </ion-segment-button>
    <ion-segment-button value="second">
      Statistics
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content >
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide >
      <ion-item>
        <ion-list>
          <ion-item>
            <label item-left>Powered</label>
            <ion-toggle [(ngModel)]="device.powered" class="device-toggle toggle-md" (ionChange)="itemToggled($event, device)" > </ion-toggle>
          </ion-item>
          <ion-item>
            <label>Power Consumption</label>
            <label item-right>{{device.powerConsumption}} W</label>
          </ion-item>
          <ion-item>
            <label item-left>Effect</label>
            <select [(ngModel)]="device.temp" (change)="itemToggled($event,device)">
              <option value="1" >1</option>
              <option value="2">2</option>
              <option value="3" >3</option>
              <option value="4">4</option>
              <option value="5" >5</option>
              <option value="6">6</option>
              <option value="7" >7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-slide>

    <ion-slide>

      <ion-list>
        <ion-item text-wrap (click)="togglePowerChart()" [ngClass]="{active: isPowerChartShown()}">
          <h3>
            Power chart {{(device?.powerData[device.powerData.length-1].toFixed(0))}} W
            <ion-icon color="success" item-right [name]="isPowerChartShown() ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h3>
          <div *ngIf="isPowerChartShown()">
            <ion-item>
              <ion-card>
                <ion-card-header>
                  Power data Chart
                </ion-card-header>
                <ion-card-content>
                  <linechart style="display: block" [points]="device?.powerData"></linechart>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </div>
        </ion-item>
        <ion-item text-wrap (click)="toggleTemperatureChart()" [ngClass]="{active: isTemperatureChartShown()}">
          <h3>
            Temperature chart {{(device?.temperature[device.temperature.length-1].toFixed(0))}} C
            <ion-icon color="success" item-right [name]="isTemperatureChartShown() ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h3>
          <div *ngIf="isTemperatureChartShown()">
            <ion-item>
              <ion-card>
                <ion-card-header>
                  Temperature data Chart
                </ion-card-header>
                <ion-card-content>
                  <linechart style="display: block" [points]="device?.temperature"></linechart>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </div>
        </ion-item>

      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>

<style>
  ion-scroll {
    width: 100%;
    height: 100%;
  }
</style>

